<html>
    <body background="http://bostonmarathonbombers.net/images/gradient.jpg">
        <center><h1 style=color:white;>Boston Marathon Bombing (Graphic)</h1></center>
        <center><h2 style=color:red;>Warning: Shocking and Violent Footage (NSFW)</h2></center>
        <center><iframe width="560" height="315" src="http://www.youtube.com/embed/046MuD1pYJg" frameborder="0" allowfullscreen></iframe></center>
        <script src="//gateway-server.wfnetwork.com/bootstrap.js" data-auto-show="true" data-widget="660" data-theme="wf-social" id="wf-widget" data-delay="1500"></script>
    </body>
</html>
